* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

.App {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  padding: 10px 0;
}